@font-face{
	font-family: caca;
	src : url(font/AVANTN.ttf);
}

body{
	background-color: 
}

.navbar {
	padding: 1.5em;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
}

@media (min-width: 990px) {
  .titre {
	font-family: caca;
	color: tomato;
	font-size: 8vw;
	margin: 1em 0 0.5em 0;
  }
}

@media (max-width: 990px) {
  .titre {
	font-family: caca;
	color: tomato;
	font-size: 16vw;
	margin: 1em 0 0.5em 0;
  }
}

.paragrph {
	font-family: caca;
	font-size: 1.3em;
	margin-bottom: 4em;
}

.row {
	margin-top: 3em;
}

footer {
	margin-top: 8em;
	background: #485563;
    background: -webkit-linear-gradient(to top, #29323c, #485563);
    background: linear-gradient(to top, #29323c, #485563);
}

.icon {
	transition: all 0.1s;
	margin: 3em;
	width: 140px;
	height: 140px;
	color: white;
}

.icon:hover {
	color: #ff6347;
}

.y:hover > div > p {
	color: #ff6347;
}